<div class="sb-margin container">
    <div>{{ content.Title }}</div>
    <div>
        Sr NET Developer
    </div>
    <div>
        Tienda Pago  (Nov 2022 / Current Date)
    </div>
    <div>
        Working as both Backend Engineer and Fullstack Developer in a fast changing environment due to the nature of  this startup, 
        I have the oppotunity to learn about, not only about IT engineering processes, but also Analyst and Business day to day work, 
        which challenges me everyday and puts my knowlegde to test.
    </div>
    <div>
        Applied Technologies: 
        <br>
        NET Core, NET Framework, Azure Functions, Angular, SQL , Redis, Azure Devops
    </div>
    <div>
        Ssr NET Developer
    </div>
    <div>
        Globant Inc. (July 2021 / Nov 2022)
    </div>
    <div>
        Working as a Backend Developer for several projects I had the oportunity to learn diverse technologies and took part in bussiness rules decisions, 
        which expanded my knowledge and experience.
    </div>
    <div>
        Applied Technologies:
        <br>
        NET Core, Docker, SQL , ElasticSearch, Redis, Azure Devops
    </div>
    <div>
        Fullstack Developer
    </div>
    <div>
        Bizerba Argentina Inc. (September 2020 / July 2021)
    </div>
    <div>
        Development of traceability systems for big clients. Working with different modules helped me to learn a lot about the Microsoft NET Framework 
        environment in general.
    </div>
    <div>
        Applied Technologies: 
        <br>
        NET Framework 4.5, SQL , HTML 5, Bootstrap
    </div>
</div>
