<div class="sb-margin container">
    <div class="title"><h1>{{ content.Title }}</h1></div>
    <div><h2>Sr NET Developer</h2></div>
    <div><h4>Tienda Pago  (Nov 2022 / Current Date)</h4></div>
    <div class="text border-bottom">
        Working as both Backend Engineer and Fullstack Developer in a fast changing environment due to the nature of  this startup, 
        I have the oppotunity to learn about, not only about IT engineering processes, but also Analyst and Business day to day work, 
        which challenges me everyday and puts my knowlegde to test.
    </div>
    <div><h2>Ssr NET Developer</h2></div>
    <div><h3>Globant Inc. (July 2021 / Nov 2022)</h3></div>
    <div class="text border-bottom">
        Working as a Backend Developer for several projects I had the oportunity to learn diverse technologies and took part in bussiness rules decisions, 
        which expanded my knowledge and experience.
    </div>
    <div><h2>Fullstack Developer</h2></div>
    <div><h3>Bizerba Argentina Inc. (September 2020 / July 2021)</h3></div>
    <div class="text">
        Development of traceability systems for big clients. Working with different modules helped me to learn a lot about the Microsoft NET Framework 
        environment in general.
    </div>
</div>
