<div class="grid-container">
    <div [@slideInFromLeft] [@slideOutToLeft] class="cv-content-container">
      <app-about-me></app-about-me>
      <app-working-exp></app-working-exp>
      <app-formation></app-formation>
    </div>
    <div [@slideInFromRight] class="sidebutton-container">
      <button class ="sidebutton" [routerLink]="['./contact']">
        <a routerLink="contact"><img class="sidebutton-icon" src="../../../assets/icons/back-icon.png" alt="back-icon"></a>
      </button>
    </div>
</div>
