@import '../app/app.component.scss';

.side-bar-container{
    position: absolute;
    height: $height-size;
    width: 25%;
    background-color: burlywood;
    left: -200px;
    transition: 0.3s;
    top: 0;
}

.side-bar-container:hover {
    left: 0;
}