<div class="side-bar-container">
    <div class="title"><h1>Santiago Flores</h1></div>
    <div class="subtitle"><h3>Software Engineer</h3></div>
    <div class="contact">
        <div class="row">
            <div class="icon"><img src="../../../assets/img/phone.png" alt="phone"></div>
            <div class="content">+5491168625421</div>
        </div>
        <div class="row">
            <div class="icon"><img src="../../../assets/img/mail.png" alt="mail"></div>
            <div class="content"><a href="mailto:sjflores01@gmail.com">sjflores01@gmail.com</a></div>
        </div>
        <div class="row">
            <div class="icon"><img src="../../../assets/img/location.png" alt="location"></div>
            <div class="content">Buenos Aires, Argentina</div>
        </div>
        <div class="row">
            <div class="icon"><img class="links" src="../../../assets/img/github.png" alt="github"></div>
            <div class="content"><a href="https://www.github.com/sjflores01" target="_blank">@sjflores</a></div>
        </div>
        <div class="row">
            <div class="icon"><img class="links" src="../../../assets/img/linkedin.png" alt="linkedin"></div>
            <div class="content"><a href="https://www.linkedin.com/in/sjflores01" target="_blank">/sjflores01</a></div>
        </div>
    </div>
    <app-skills></app-skills>
    <div class="lang-container"><h1>Languages</h1>
    <div class="lang-list">
      <ul>
        <li>ESPAÑOL - NATIVE</li>
        <li>ENGLISH - C1 ADVANCED</li>
      </ul>
    </div>
  </div>
</div>
