@import '../app/app.component.scss';
@media only screen and (min-width: 900px) {
  .title {
    h1 {
        font-size: 3em !important;
    }
  }

  .subtitle {
      text-align: right;
      h2 {
        font-size: 1.5em !important;
      }
  }

  .contact {
    font-size: 20px !important;
  }

  .lang-container {
    font-size: 20px !important;
  }
}
.side-bar-container{
    position:absolute;
    height: fit-content;
    width: 95%;
    background-color: $side-bar-color;
    right: 0px;
    padding-right: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    view-transition-name: side-bar-container;
}

.title {
    text-align: right;
    h1 {
        font-size: 24px;
        margin-bottom: 4px;
    }
}

.subtitle {
    text-align: right;
    h2 {
      font-size: 20px;
    }
}

.contact {
    margin-top: 100px;
    font-size: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 16px;
    margin-top: 16px;
}

.icon {
    opacity: 65%;
    img {
        width: 40px;
        height: 40px
    }
    .links {
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
}

.content {
    align-self: center;
    text-align: right;
    a {
        text-decoration: none;
        color: $font-color;
    }
}

.lang-container {
  font-size: 12px;
  text-align: right;

  .lang-list ul {
    text-align: left;
    list-style-type: none;
    padding-inline-start: 16px;
  }
}

.back-button {
  background-color: transparent;
  position:absolute;
  border-width: 0;
  .back-icon {
    margin-left: 20px;
    margin-top: 12px;
    opacity: 65%;
    transform: rotateY(180deg);
    height: 16px;
  }

}
