<div [@slideInFromRight] [@slideOutToRight] class="side-bar-container">
    <span>
        <a class="back-button" href="">
        <img class="back-icon" src="/assets/icons/back-icon.png" alt="back">
        </a>
    </span>
    <div class="title"><h1 i18n>Santiago Flores</h1></div>
    <div class="subtitle"><h3 i18n>Software Engineer</h3></div>
    <div class="contact">
        <div class="row">
            <div class="icon"><img src="/assets/img/phone.png" alt="phone"></div>
            <div class="content"><a href="https://wa.me/5491168625421/?text={{messageText}}" target="_blank">+5491168625421</a></div>
        </div>
        <div class="row">
            <div class="icon"><img src="/assets/img/mail.png" alt="mail"></div>
            <div class="content"><a href="mailto:sjflores01@gmail.com">sjflores01&#64;gmail.com</a></div>
        </div>
        <div class="row">
            <div class="icon"><img src="/assets/img/location.png" alt="location"></div>
            <div class="content">Buenos Aires, Argentina</div>
        </div>
        <div class="row">
            <div class="icon"><img class="links" src="/assets/img/github.png" alt="github"></div>
            <div class="content"><a href="https://www.github.com/sjflores01" target="_blank">&#64;sjflores</a></div>
        </div>
        <div class="row">
            <div class="icon"><img class="links" src="/assets/img/linkedin.png" alt="linkedin"></div>
            <div class="content"><a href="https://www.linkedin.com/in/sjflores01" target="_blank">/sjflores01</a></div>
        </div>
    </div>
    <app-skills></app-skills>
    <div class="lang-container"><h1 i18n>Languages</h1>
    <div class="lang-list">
      <ul>
        <li i18n>ESPAÑOL - NATIVE</li>
        <li i18n>ENGLISH - C1 ADVANCED</li>
      </ul>
    </div>
  </div>
</div>
