@import '../app/app.component.scss';

.title {
    text-align: right;
}

table {
    width: 100%;

    .name {
        width:auto;
        padding-left: 16px;
    }
    .progress {
        width: 70%;
    }
}

mat-progress-bar {
  opacity: 65%;
  background-color: #FFF;
  border-radius: 2px;
}
