@import '../app/app.component.scss';

@media only screen and (min-width: 900px) {
  table {
    font-size: 20px !important;
  }
}

.title {
    text-align: right;
}

table {
    width: 100%;
    font-size: 12px;
    .name {
        width:auto;
        padding-left: 16px;
    }
    .progress {
        width: 70%;
    }
}

mat-progress-bar {
  opacity: 65%;
  background-color: #FFF;
  border-radius: 2px;
}
