@import './app/components/app/app.component.scss';

@font-face {
    font-family: 'Garet';
    src: url('./assets/fonts/Garet-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Garet-Bold';
    src: url('./assets/fonts/Garet-Heavy.ttf') format('truetype');
    font-style: normal;
}

body {
    font-family: $font-primary;
    color: $font-color;
    background-color: #fff;
    height: $height-size;
    width: $width-size;
}

.sb-margin {
    margin-left: 0;
}

.container {
    text-align: right;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text {
    font-size: 24px;
    text-align: right;
}

.title {
    text-align: left;
    border-style: solid;
    border-width: 0 0 4px 0;
    border-bottom-color: $side-bar-color;

    h1 {
        margin-bottom: -5px;
    }
}

.subtitle

.border-bottom {
    border-style: solid;
    border-width: 0 0 4px 0;
    border-bottom-color: $side-bar-color;
}